*=com.savin.commands.com.savin.commands.MultCmd
/=com.savin.commands.DivCmd
+=com.savin.commands.AddCmd
-=com.savin.commands.MinusCmd
^=com.savin.commands.PowerCmd
pow=com.savin.commands.PowerCmd
mult=com.savin.commands.MultCmd
dev=com.savin.commands.DivCmd
add=com.savin.commands.AddCmd
sub=com.savin.commands.MinusCmd
sqrt=com.savin.commands.SqrtCmd
define=com.savin.commands.DefineCmd
push=com.savin.commands.PushCmd
pop=com.savin.commands.PopCmd
print=com.savin.commands.PrintCmd
exp=com.savin.commands.Exp
log=com.savin.commands.Log